body{
  margin: 0;
}

.top-section{
  display: flex;
}

#her-id{
  margin: 0px 100px;
}

#top-background{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.hef-width{
  width: 50%;
}

.hef-width h1{
  font-size: 50px;
}

.hef-width h1 span{
  color: tomato;
}

.hef-width h3{
  font-weight: 700;
}

.hef-width p{
  color: gray;
  margin-bottom: 30px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 500;
}

.hef-width a{
  color: white;
  background-image: linear-gradient(tomato, green);
  padding: 10px 35px;
  border-radius: 15px;
}

.hef-width img{
  width: 600px;
  margin-top: -50px;
}

#dream-big-id{
  margin-right: 70px;
  margin-left: 50px;
}

#sec-baground{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.web-developer-section{
  width: 600px;
  padding: 10px 10px 80px 10px;
  margin: 50px;
  box-shadow: 10px 10px 40px grey;
  border-left: 5px solid green;
  border-radius: 5px;
}

#babey-id{
  border-left: 5px solid blue;
}

#footer-section{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: 0px;
}

.web-developer-section h1{
 font-size: 40px;
}

.web-developer-section h3{
 font-size: 20px;
 color: tomato;
}

.web-developer-section p{
 font-size: 16px;
 color: gray;
}

footer{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
}